<div class="overlay" (mousemove)="onMouseMove($event)" (mouseup)="stopDrag()" (mouseleave)="stopDrag()">
  <div class="popup" style="left: calc(50% - 180px); top: calc(50% - 120px);">
    <div class="header" (mousedown)="startDrag($event)">
      <div class="title">
        <ion-icon name="lock-closed-outline"></ion-icon>
        Confirmação do Administrador
      </div>
      <button class="close" (click)="cancel()" aria-label="Fechar">✕</button>
    </div>
    <div class="body">
      <form [formGroup]="form" (ngSubmit)="confirm()">
        <ion-item lines="full">
          <ion-label position="stacked">Senha</ion-label>
          <ion-input type="password" formControlName="password" autofocus></ion-input>
        </ion-item>
        <div class="actions">
          <ion-button fill="clear" (click)="cancel()" type="button">Cancelar</ion-button>
          <ion-button color="danger" type="submit">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            Confirmar saída
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</div>


