<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sistema OAB</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="exitApp()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Sair
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar collapse="condense">
    <ion-title size="large">Sistema OAB</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <strong>Bem-vindo</strong>
    <p>Este é um placeholder da Home protegida.</p>
  </div>
</ion-content>
